//@fontface{
  //font-family: serif;
  //src: url('fonts/tallys_15.otf');
//}
$heightVar: 100%;
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  z-index: 2;
  background-color: #FFF;
  position: relative;
  top: 0;
  width:95%;
  //height: 95%;
  text-decoration-color: #000;
  margin: auto;
  img {
    max-width: 100%;
  }
}
.BG_container{
  //z-index: 1;
  justify-content: center;
  position: relative;
  //background-color: #326aa8;
  width: 95%;
  //height: 95%;
  margin: auto;
  align-content: center;
}
 #ImageDiv {
   //background-color: #322aa8;
   z-index: 0;
   width: 100%;
}

#llxr{
  z-index: 99;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#llxr img{
  height: 25px;
  width: auto;
}
#InstaLink{
  z-index: 99;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
#InstaLink img{
  height: 25px;
  width: auto;
}
//#ImageDiv img{
  //max-width: 100%;
  //height: auto;
  //display: block;
  //margin-left: auto;
  //margin-right: auto;
//}

#GroupBlocks{
  //background-color: green;
  display: block;
  justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 3;
  left: 5%;
  margin: auto;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}


.TestBlocks{
  z-index: 4;
  opacity: 1;
  position: relative;
  display: inline-block;
  height: auto;
  max-width: 100%;
}

#LinkBlock1{
  height: auto;
  position: relative;
  left: 30%;
}
#LinkBlock2{
  height: auto;
  position: relative;
  left: 32%;
}
#LinkBlock3{
  height: auto;
  position: relative;
  left: 33.5%;
  top:  2pt;
}

#BodyContainer{
  //display: flex;
  //position: relative;
  //justify-content: center;
  display: block;
  position: inherit;
  margin: auto;
  max-width: 90vh;
  max-height: auto;
  img{
    height:auto;
    width: auto;
  }

}

#GloaunBox{
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
  #gloaun-box-content {
    position: relative;
    img {
      height: 100%;
      max-height: 90vh;
      position: relative;
      display: block;
      width: auto;
    }
    #GloBlink {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: white;
      opacity: 0;
      &.active {
        animation-name: blink;
        animation-duration: .7s;
      }
    }
    &:hover {
      #GloBlink {
        animation-name: blink;
        animation-duration: .7s;
      }
    }
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#BlinkDiv{
  display: none;
}

#GloaunBox:hover img{//}#BlinkDiv{
  //#BlinkDiv{display: Block;}
  //display: none;
  //position: relative;}
  //background-color: #FFF;
  //background-image: url('../images/gloaunblink.png');
  //background-repeat: no-repeat;
/*
  #BlinkDiv img{
    display: inline;
    z-index: 99;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 30%;
    background-color: #FFF;
  }*/
  //#GloaunBox {display: none;}
}

#CardBox{
  //opacity:.3;
  z-index: 99;
  max-width: 100%;
  height: auto;
  position: absolute;
  display: block;
  margin-bottom: 0%;
  right: 0rem;
  bottom: 5%;
}
#CardBox:hover{
  //Background-color: #e1e2e3;
  //background-image: radial-gradient(circle, black, gray, white);
  background: rgb(229,255,0);
  background: radial-gradient(circle, rgba(229,255,0,0.6787902661064426) 9%, rgba(255,200,0,0.4575017507002801) 28%, rgba(255,255,255,0.2390143557422969) 52%);
  }

#testDiv {
  display: none;
  z-index: 99;
}

//----@media Responses ////////////////
/*
    @media screen and (max-width:1200px){
      #BG_container{width:100%; height: auto;}

    }
    @media screen and (max-width:1024px){
      #BG_container{width:100%; height: auto;}

    }
    @media screen and (max-width:940px){
      #BG_container{width:50%; height: auto;}
      #cardBox{width:50%; height: auto;}

        }
    @media screen and (max-width:768px){
      #BG_container img{//width:100%; height: 100%;}//auto;}
      height: auto;
      width: 100%;
    }
  }
    @media screen and (max-width:640px){
      #BG_container img{height: auto;
      width: 100%;}
      }
    @media screen and (max-width:570px){
        #BG_container img{height: auto;
        width: 100%;}
        #cardBox img{height: auto;
        width: 100%;}
      }
    */
    @media screen and (max-width:360px){
      html img{ width: auto;
        height: auto;}// $heightVar/2;}
        #cardbox img{
          height: auto;
          width: auto;
        }
/*
      #BG_container img{height: auto;
      width: 100%;}
      #GloaunBox img{height: auto;
      width: 100%;}
      #cardBox img{height: auto;
      width: 100%;}
      #GroupBlocksimg{height: auto;
      width: 100%;}
  */
      }
@media screen and (max-width: 720px) { //and (orientation: landscape) {//and (max-width: 767px)
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  html, body {
    width: 100vh;
    height: 100vw;
    margin: 0;
    h1 {
      display: none;
    }
    #InstaLink {
      top: 1rem;
      right: 1rem;
    }
    #llxr{
      top: 1rem;
      left: .5rem;
    }
    .BG_container {
      height: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      #GroupBlocks {
        display: flex;
        justify-content: center;
        padding: .5rem;
        .TestBlocks {
          left: auto;
          padding: 0 1rem;
          &#LinkBlock2 {
            padding-top: .2rem;
          }
        }
      }
      #BodyContainer {
        position: relative;
        overflow: hidden;
        width: auto;
      }
      #GloaunBox {
        height: 100%;
        width: auto;
        flex: 1;
        margin: 0;
        padding: 1rem 0 1.5rem;
        #gloaun-box-content {
          height: 100%;
          width: auto;
          img {
            height: 100%;
            width: auto;
            max-height: 100%;
          }
        }
      }
    }
  }
  body {
    width: 90vh;
    margin: 0 auto;
  }
    // body {
      // width: 100vh;
      // h1 {
      //   display: none;
      // }
      // #GroupBlocks {
      //   width: 100vh;
      // }
      // .BG_container {
      //   display: flex;
      //   flex-direction: column;
      //   height: 100vw;
      // }
      // #BodyContainer {
      //
      // }
      // #GloaunBox {
      //   height: 100%;
      // }
    // }
}

/*# sourceMappingURL=style.css.map*/
