body {
  z-index: 2;
  background-color: #FFF;
  position: relative;
  top: 0;
  width: 95%;
  text-decoration-color: #000;
  mnargin: auto;
}

.BG_container {
  justify-content: center;
  position: relative;
  width: 95%;
  margin: auto;
  align-content: center;
}

#ImageDiv {
  z-index: 0;
  width: 100%;
}

#llxr {
  z-index: 99;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#llxr img {
  height: 25px;
  width: auto;
}

#InstaLink {
  z-index: 99;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#InstaLink img {
  height: 25px;
  width: auto;
}

#GroupBlocks {
  display: block;
  justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 3;
  left: 5%;
  margin: auto;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.TestBlocks {
  z-index: 4;
  opacity: 1;
  position: relative;
  display: inline-block;
  height: auto;
  max-width: 100%;
}

#LinkBlock1 {
  height: auto;
  position: relative;
  left: 30%;
}

#LinkBlock2 {
  height: auto;
  position: relative;
  left: 32%;
}

#LinkBlock3 {
  height: auto;
  position: relative;
  left: 33.5%;
  top: 2pt;
}

#BodyContainer {
  display: block;
  position: inherit;
  margin: auto;
  max-width: 90vh;
  max-height: auto;
}

#BodyContainer img {
  height: auto;
  width: auto;
}

#GloaunBox {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}

#GloaunBox #gloaun-box-content {
  position: relative;
}

#GloaunBox #gloaun-box-content img {
  height: 100%;
  max-height: 90vh;
  position: relative;
  display: block;
  width: auto;
}

#GloaunBox #gloaun-box-content #GloBlink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: white;
  opacity: 0;
}

#GloaunBox #gloaun-box-content #GloBlink.active {
  animation-name: blink;
  animation-duration: .7s;
}

#GloaunBox #gloaun-box-content:hover #GloBlink {
  animation-name: blink;
  animation-duration: .7s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#BlinkDiv {
  display: none;
}

#GloaunBox:hover img {
  /*
  #BlinkDiv img{
    display: inline;
    z-index: 99;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 30%;
    background-color: #FFF;
  }*/
}

#CardBox {
  z-index: 99;
  max-width: 100%;
  height: auto;
  position: absolute;
  display: block;
  margin-bottom: 0%;
  right: 0;
  bottom: 5%;
}

#CardBox:hover {
  background: #e5ff00;
  background: radial-gradient(circle, rgba(229, 255, 0, 0.67879) 9%, rgba(255, 200, 0, 0.457502) 28%, rgba(255, 255, 255, 0.239014) 52%);
}

#testDiv {
  display: none;
  z-index: 99;
}

/*
    @media screen and (max-width:1200px){
      #BG_container{width:100%; height: auto;}

    }
    @media screen and (max-width:1024px){
      #BG_container{width:100%; height: auto;}

    }
    @media screen and (max-width:940px){
      #BG_container{width:50%; height: auto;}
      #cardBox{width:50%; height: auto;}

        }
    @media screen and (max-width:768px){
      #BG_container img{//width:100%; height: 100%;}//auto;}
      height: auto;
      width: 100%;
    }
  }
    @media screen and (max-width:640px){
      #BG_container img{height: auto;
      width: 100%;}
      }
    @media screen and (max-width:570px){
        #BG_container img{height: auto;
        width: 100%;}
        #cardBox img{height: auto;
        width: 100%;}
      }
    */
@media screen and (max-width: 360px) {
  html img {
    width: auto;
    height: auto;
  }
  #cardbox img {
    height: auto;
    width: auto;
  }
  /*
      #BG_container img{height: auto;
      width: 100%;}
      #GloaunBox img{height: auto;
      width: 100%;}
      #cardBox img{height: auto;
      width: 100%;}
      #GroupBlocksimg{height: auto;
      width: 100%;}
  */
}

@media screen and (max-width: 720px) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map*/
