#music-template {
  transform: rotate(0deg);
  transform-origin: left top;
  overflow-x: hidden;
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  width: 100%;
  body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .Wrapper {
    width: 100%;
    padding: 0 2.5rem;
    max-width: 1250px;
    margin: 0 auto;
  }
  #AlbumCase {
    display: flex;
    @media screen and (max-width:570px){
      flex-direction: column;
      .divider {
        display: none;
      }
    }
  }
  #Lower {
    position: relative;
  }
  #LeftBlock, #RightBlock {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 40%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #LeftBlock {
    left: 0;
  }
  #RightBlock {
    right: 0;
  }
  #LinkBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    padding-bottom: 3rem;
    mix-blend-mode: multiply;
    img {
      height: 6vw;
      max-height: 60px;
      width: auto;
      margin: 1rem 0;
    }
    & > img {
      height: 10vw;
      max-height: 130px;
    }
  }
}
