.wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #000000;
  margin: 0 auto;
}

#popUpText {
  font-size: 24px;
}

.content {
  position: relative;
  margin: 0 auto;
}

.content #content {
  position: relative;
  margin: 0 auto;
}

.popUp {
  position: relative;
  display: none;
  background-color: #90a7cc;
}

.popUp #popUpText {
  font-size: 14px;
}

.show {
  visibility: visible;
  display: inline-block;
}

.hide {
  visibility: hidden;
  display: none;
}

.bgChange {
  background-color: #e5ab8e;
}
